<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="@spoonconsulting/cordova-plugin-telerik-imagepicker"
  version="2.3.1">

    <name>ImagePicker</name>

    <description>
        This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module src="www/imagepicker.js" name="ImagePicker">
        <clobbers target="ImagePicker" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="SOSPicker"/>
            </feature>
        </config-file>

        <preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>$PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/SOSPicker.h" />
        <source-file src="src/ios/SOSPicker.m" />

        <header-file src="src/ios/GMImagePicker/UIImage+fixOrientation.h" />
        <source-file src="src/ios/GMImagePicker/UIImage+fixOrientation.m" />

        <header-file src="src/ios/GMImagePicker/GMAlbumsViewCell.h" />
        <source-file src="src/ios/GMImagePicker/GMAlbumsViewCell.m" />

        <header-file src="src/ios/GMImagePicker/GMAlbumsViewController.h" />
        <source-file src="src/ios/GMImagePicker/GMAlbumsViewController.m" />

        <header-file src="src/ios/GMImagePicker/GMFetchItem.h" />
        <source-file src="src/ios/GMImagePicker/GMFetchItem.m" />

        <header-file src="src/ios/GMImagePicker/GMGridViewCell.h" />
        <source-file src="src/ios/GMImagePicker/GMGridViewCell.m" />

        <header-file src="src/ios/GMImagePicker/GMGridViewController.h" />
        <source-file src="src/ios/GMImagePicker/GMGridViewController.m" />

        <header-file src="src/ios/GMImagePicker/GMImagePickerController.h" />
        <source-file src="src/ios/GMImagePicker/GMImagePickerController.m" />

        <header-file src="src/ios/GMImagePicker/PSYBlockTimer.h" />
        <source-file src="src/ios/GMImagePicker/PSYBlockTimer.m" />

        <header-file src="src/ios/GMImagePicker/GMPHAsset.h" />
        <source-file src="src/ios/GMImagePicker/GMPHAsset.m" />

        <resource-file src="src/ios/GMImagePicker/GMEmptyFolder@1x.png" />
        <resource-file src="src/ios/GMImagePicker/GMEmptyFolder@2x.png" />

        <resource-file src="src/ios/GMImagePicker/GMSelected.png" />
        <resource-file src="src/ios/GMImagePicker/GMSelected@2x.png" />

        <resource-file src="src/ios/GMImagePicker/GMVideoIcon.png" />
        <resource-file src="src/ios/GMImagePicker/GMVideoIcon@2x.png" />

        <resource-file src="src/ios/GMImagePicker/ca.lproj" />
        <resource-file src="src/ios/GMImagePicker/de.lproj" />
        <resource-file src="src/ios/GMImagePicker/en.lproj" />
        <resource-file src="src/ios/GMImagePicker/es.lproj" />
        <resource-file src="src/ios/GMImagePicker/fr.lproj" />
        <resource-file src="src/ios/GMImagePicker/it.lproj" />
        <resource-file src="src/ios/GMImagePicker/pt.lproj" />
        <resource-file src="src/ios/GMImagePicker/pl.lproj" />
        <resource-file src="src/ios/GMImagePicker/zh-Hans.lproj" />

        <framework src="Accelerate.framework" />
        <framework src="Security.framework" />
        <framework src="Photos.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreImage.framework" />

    </platform>

    <!-- android -->
   <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ImagePicker">
            <param name="android-package" value="com.spoon.imagepicker.ImagePicker"/>
        </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    </config-file>

    <framework src="com.android.support:appcompat-v7:27.1.1" />
     
    <source-file src="src/android/ImagePicker.java"
                 target-dir="src/com/spoon/imagepicker" />
</platform>
</plugin>
